body {
    font-family: sans-serif;
    margin: 0 auto;
}


img {
    width:250px;
}

form, #output {
    width: 500px;
    padding: 20px;
    border: 2px solid black;
    margin: 30px auto;
    border-radius: 10px;
}

section {
    display: block;
    align-self: center;
}

section#productList > ul {
    display: grid;
    grid-template-columns: 3fr 3fr;
    list-style-type: none;
}

button#checkout{
    align-self: center;
}


/* .fieldWrapper {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
} */


.expiryFields {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

.submitWrapper {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.productLayout {
    align-self: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    justify-content: left;
}

label {
    font-weight: bold;
}

/* another way of targetting an input field */
input {
    border: 1px solid black;
    border-radius: 5px;
}
